html, body {
    height: 100%;
    font-family: 'Karla', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
    font-family: 'Karla', sans-serif;
}
h1 {
    font-size: 70px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
p {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}
img {
    max-width: 100%;
}
input:focus, select:focus, button:focus, textarea:focus {
    outline: none;
}
a:hover, a:focus {
    text-decoration: none;
    outline: none;
    color: #fff;
}
ul, ol {
    padding: 0;
    margin: 0;
}

/*============= END RESETS =============*/

/*============= Basic LAYOUT =============*/
.fontheading {
    font-family: 'Catamaran', sans-serif; !important;
}
/*============= END Basic LAYOUT =============*/

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000;
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
    50% {
        transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }
    100% {
        transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

/*============= Navbar =============*/
nav {
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
}

.logo {
    float: left;
    margin-right: 10px;
}

.logo a {
    display: inline-block;
}

.navbar-brand1 {
    color: #DF302D !important;
    font-size: 1.5rem !important;
}

.navbar-collapse ul li{
    padding-right: 15px;
}

.navbar-nav .active {
    color: #DF302D !important;
}

.navbar-collapse ul li a {
    padding: 5px 20px;
    transition: 0.6s ease;
    border-radius: 10px;
    letter-spacing: 0.15em;
}

.navbar-collapse ul li a:hover {
    color: #DF302D !important;
}
/*========== End Navbar ===========*/

/*========== Carousel ===========*/

.carousel-caption {
    top: 30%;
}

.carousel-caption h3 {
    letter-spacing: 1px;
    font-size: 80px;
    font-family: 'Rubik', sans-serif;
}

.carousel-caption p, .carousel-caption button {
    font-family: 'Rubik', sans-serif;
}

.carousel-caption .highlightcaption {
    color: #DF302D;
    text-transform: uppercase;
    font-size: 145%;
}

.carousel-caption .display-2 {
    font-weight: 600;
}

.carousel-caption p {
    font-size: 1.6em;
    font-weight: 400;
    color: white;
}

.carousel-inner img {
    width: 100%;
    height: 550px;
    filter: brightness(30%);
}

/*========== End Carousel ===========*/

/*========== WElCOME ===========*/

.welcome {
    margin-top: 80px;
    margin-bottom: 100px;
}

/*========== End WELCOME ===========*/

/*========== CARD  ===========*/
.card {
    background-color: #222222;
    border-radius: 0;
    border: 0 solid white;
}

.card .inner {
    background-color: #c11325;
}

.card-text, .card-title {
    color: white;
}
/*========== End CARD ===========*/

/*========== SERVICES ===========*/
.service {
    margin-top: 200px;
    margin-bottom: 200px;
    background-color: #c11325;
    padding-top: 50px;
    padding-bottom: 50px;
}

.service p, .service h2 {
    color: #fff;
}

/*========== End SERVICE ===========*/

/*========== START Classes ===========*/
.classes {
    margin-bottom: 100px;
}

.classes .row h2, .classes .row p{
    letter-spacing: 0.01em;
}


.classes .inner {
    background-color: #222222;
}

.classes .row .row p, .classes .row .row h4 {
    letter-spacing: -1px;
}
/*========== End Classes ===========*/


/*========== START NOW ===========*/
.now {
    background-color: #222222;
    color: #FFFFFF;
    margin-bottom: 120px;
}
/*========== END NOW ===========*/


/*========== START Schedules ===========*/
.schedule {
    margin-top: 500px;
}

.table td {
    vertical-align: middle !important;
    text-align: center;
    border: 1px solid #95999c;
}

.table th {
    vertical-align: middle !important;
    text-align: center;
    border: 1px solid #95999c;
}

.table tr:nth-child(even) .day {
    background-color: #95999c;
    color: #FFFFFF;
}

.table tr:nth-child(odd) .day {
    background-color: #0b0b0b;
    color: #FFFFFF;
}

.table tr:nth-child(1) .day {
    background-color: #c11325;
    color: #FFFFFF;
}
/*========== END Schedules ===========*/

/*========== START Feedbacks ===========*/

.testimonials {
    margin: 50px auto;
}

.testimonials h2 {
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    color: #c11325;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.testimonials h2::after {
    content: '';
    background: #c11325;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.testimonialsrow {
    margin-top: 100px;
}

.profile {
    background-color: #efefef;
    padding: 70px 10px 10px;
}

.profile img {
    top: -60px;
    position: absolute;
    left: calc(50% - 60px);
    border: 10px solid white;
}

.user {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile h3 {
    font-size: 20px;
    margin-top: 15px;
    color: #c11325;
}

.profilehl {
    font-size: 12px;
    color: #333333;
}

.profile blockquote {
    font-size: 16px;
    line-height: 30px;
}

blockquote::before {
    content: '\201C';
    font-size: 50px;
    position: relative;
    color: #c11325;
    line-height: 20px;
    bottom: -15px;
    right: 5px;
}

blockquote::after {
    content: '\201D';
    font-size: 50px;
    position: relative;
    color: #c11325;
    line-height: 20px;
    bottom: -15px;
    left: 5px;
}

/*========== END Feedbacks ===========*/

/*========== Start Subcribe ===========*/
.subcribe {
    background: #dce2e1;
    color: #646666;
}

.subcribe__text h2{
    font-size: 300%;
    padding: 10px 0px;
    color: #1a1a1a;
}

.subcribe__text p {
    font-size: 150%;
    color: #1d1d1d;
}

.subcribe__btn {
    background: #c11325;
    color: white;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0 40px 0;
    font-size: 140%;
    border: none;
}


/*========== END Subcribe ===========*/


/*============= ============= ABOUT CSS ============= ============= */

/*============= WELCOME Section =============*/
.welcome__about {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 100px;
}

.welcome__about .container__content {
    width: 40%;
    margin: 10px auto;
    padding: 0;
}

.welcome__about .welcome__bottom {
    border-bottom: 3px solid #c11325;
    line-height: 50px;
}

.welcome__about h2 {
    font-family: 'Catamaran', sans-serif;
    margin-bottom: 20px;
    letter-spacing: 0.25em;
}

.welcome__about h4 {
    font-size: 125%;
    margin-top: 30px;
    letter-spacing: 0.1em;
}

.welcome__about .container__img__welcome {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}
/*============= END WELCOME Section =============*/


/*============= Counting Section =============*/

.c_p2 {
    background-image: url("../images/about_counting.jpg");
    background-size: contain;
}

.c_p2 {
    color: white;
}

/*============= END Counting Section =============*/

/*============= Contact Us Section =============*/
.contact__abt .contact__bottomleft {
    position: absolute;
    left: 15px;
    bottom: 0;
}

.contact__abt .firstdiv {
    background: #E3DFDB;
}

.contact__abt .row h4 {
    font-size: 140%;
    font-weight: 700;
    letter-spacing: 0.07em;
    line-height: 1.8em;
}

.contact__abt .row a {
    color: #000000;
    text-decoration: none;
}

.contact__abt .row a h4 span:hover {
    border-bottom: 3px solid #95999c;
    color: #95999c;
}
/*============= END Contact Us Section =============*/

/*============= =============
        END About CSS
============= ============= */


/*============= =============
        Gallery CSS
============= ============= */

/*============= Header Section =============*/
.welcome__about {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 30px;
}

.welcome__about .container__content {
    width: 40%;
    margin: 10px auto;
    padding: 0;
}

.welcome__about .welcome__bottom {
    border-bottom: 3px solid #c11325;
    line-height: 50px;
}

.welcome__about h2 {
    font-family: 'Catamaran', sans-serif;
    margin-bottom: 20px;
    letter-spacing: 0.25em;
}

.welcome__about h4 {
    font-size: 125%;
    margin-top: 30px;
    letter-spacing: 0.1em;
}
/*============= END Header Section =============*/

/*============= Body Section =============*/

.gallery__gal{
    margin-bottom: 0;
}

.gal__container ul {
    display: table;
    margin: 5px auto 15px auto;
    list-style-type: none;
}

.gal__container ul li {
    display: inline;
    padding: 50px;
}

.gal__container ul li a {
    text-decoration: none;
    color: #222222;
    text-transform: uppercase;
    font-size: 1.3em;
}

.gal__container ul li a:hover {
    color: #c11325;
}

.gal__items {
    text-align: center;
    position: relative;
    z-index: 1;
    letter-spacing: -1px;
    word-spacing: 2px;
}

.gal__items:hover:before, .gal__items:hover:after {
    opacity: 1;
}

.gal__items:hover .gal__hover {
    opacity: 1;
    visibility: visible;
}

.gal__items:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: #c11325;
    content: "";
    opacity: 0;
    z-index: 2;
    transition: all 0.3s;
}

.gal__items:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    content: "";
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
}

.gal__items .gal__hover__wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.gal__items .gal__hover {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.gal__items .gal__hover a {
    height: 60px;
    width: 60px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    display: inline-block;
    color: #FFFFFF;
}

.gal__items .gal__hover a:hover {
    color: #c11325;
    border: 2px solid #c11325;
}

.gal__items .gal__hover h6 {
    color: white;
    margin-top: 15px;
    font-size: 1.2em;
}

.gal__items .gal__hover h6 span {
    margin-top: 7px;
    display: block;
}

/*============= Body Section =============*/


/*============= =============
     END Gallery CSS
============= ============= */


/*============= =============
     Start FAQS CSS
============= ============= */
.faq {
    background-color: #f1eeee;
    padding: 75px;
    margin-bottom: 75px;
}

.faq h3 {
    line-height: 60px;
}

.faq p {
    font-size: 18px;
}
/*============= HIEU =============*/
/*============= footer =============*/
#map{
    height: 200px;
    width: 110%;
}

.footer {
    font-family: acumin-pro, system-ui, sans-serif;
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: white;
    background-color: black;
    border-top: 1px solid #e5e5e5;
}

.footer > * {
    flex:  1 100%;
}

.footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 1.5rem;
}

.footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}

.nav__title {
    font-weight: 400;
    font-size: 15px;
}

.footer address {
    font-style: normal;
    color: #999;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33);
    border-radius: 100px;
    color: white;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav__ul a {
    color: #999;
}

.nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
}

.legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
}

.legal__links {
    display: flex;
    align-items: center;
}

.heart {
    color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
    .legal .legal__links {
        margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
    .footer__nav > * {
        flex: 1;
    }

    .nav__item--extra {
        flex-grow: 2;
        margin-right: 0;
    }

    .footer__addr {
        flex: 1 0;
    }

    .footer__nav {
        flex: 2 0;
    }
}
/*============= footer ends =============*/
/*============= Membership =============*/
.container-membership{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    font-family: FreeMono, monospace;
}
@media (min-width: 576px) {
    .container-membership{
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-membership{
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-membership{
        max-width: 960px;
    }
}
@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}
.section-title h3{
    font-size: 46px;
    font-weight: bolder;
    text-transform: uppercase;
    padding-bottom: 7px;
}
@media (max-width: 767px) {
    .section_title h3 {
        font-size: 30px;
        line-height: 36px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section_title h3 {
        font-size: 36px;
        line-height: 42px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .section_title h3 {
        font-size: 35px;
        line-height: 42px;
    }
}

@media (max-width: 767px) {
    .section_title h3 br {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section_title h3 br {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .section_title h3 br {
        display: none;
    }
}

.section_title p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 0;
    font-weight: 400;
}

@media (max-width: 767px) {
    .section_title p br {
        display: none;
    }
}

.section_title h4 {
    font-size: 22px;
    font-weight: 500;
    color: #001D38;
    padding-bottom: 21px;
}

.mb-50 {
    margin-bottom: 50px;
}

@media (max-width: 767px) {
    .mb-50 {
        margin-bottom: 40px;
    }
}

.mb-73 {
    margin-bottom: 73px;
}

@media (max-width: 767px) {
    .mb-73 {
        margin-bottom: 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .mb-73 {
        margin-bottom: 40px;
    }
}
.single-price {
    padding: 40px 0;
    border: 1px solid transparent;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 30px;
}
.single-price .price-header{
    padding-bottom: 23px;
}
.single-price .price-header h3{
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;

}
.single-price .price-header span{
    position: relative;
    font-family: "Teko", sans-serif;
    color: #FF1414;
    font-weight: 400;
    font-size: 30px;
}
.single-price .price-body ul li{
    font-family: "Teko", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: #7A838B;
    list-style: none;
}
.single-price:hover{
    border: 1px solid #FF1414;
}
.single-price.price-btn{

}
.boxed-btn{
    background: #fff;
    color: #FF1414;
    display: inline-block;
    padding: 12px 44px;
    font-family: "Teko", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
.boxed-btn:hover{
    background: #FF1414;
    color: #fff !important;
    border: 1px solid #FF1414;
}
.section-title h2{
    font-size: 153px;
    font-weight: bolder;
    font-family: "PaytoneOne",sans-serif;
    text-transform: uppercase;
}
/*============= Membership ends =============*/

/*============= Event =============*/
.site-section-heading {
    font-size: 30px;
    position: relative;
    padding-top: 20px; }
.site-section-heading:before {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    width: 40px;
    height: 2px;
    background: #fd7e14; }
.site-section-heading.text-center:before {
    content: "";
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    width: 40px;
    height: 2px;
    background: #fd7e14;
}
.site-section {
    padding: 3em 0; }
@media (min-width: 768px) {
    .site-section {
        padding: 7em 0; } }
.site-section.site-section-sm {
    padding: 4em 0; }

.site-section-heading {
    font-size: 30px;
    position: relative;
    padding-top: 20px; }
.site-section-heading:before {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    width: 40px;
    height: 2px;
    background: #fd7e14; }
.btn {
    position: relative;
    top: 0; }
.btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
.btn.btn-secondary {
    background-color: #e6e7e9;
    border-color: #e6e7e9;
    color: #000; }
.btn.btn-sm {
    font-size: 0.9rem; }
.btn:hover {
    -webkit-box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
    box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important; }
.btn.pill {
    border-radius: 30px !important; }
.btn.btn-white.btn-outline-white {
    border-color: #fff;
    background: transparent;
    color: #fff; }
.btn.btn-white.btn-outline-white:hover {
    background: #fff;
    color: #000; }
/*============= Event ends =============*/