.container-membership{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    font-family: FreeMono, monospace;
}
@media (min-width: 576px) {
    .container-membership{
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-membership{
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-membership{
        max-width: 960px;
    }
}
@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}
.section-title h3{
    font-size: 46px;
    font-weight: bolder;
    text-transform: uppercase;
    padding-bottom: 7px;
}
@media (max-width: 767px) {
.section_title h3 {
    font-size: 30px;
    line-height: 36px;
}
}

@media (min-width: 768px) and (max-width: 991px) {
    .section_title h3 {
        font-size: 36px;
        line-height: 42px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .section_title h3 {
        font-size: 35px;
        line-height: 42px;
    }
}

@media (max-width: 767px) {
    .section_title h3 br {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section_title h3 br {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .section_title h3 br {
        display: none;
    }
}

.section_title p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 0;
    font-weight: 400;
}

@media (max-width: 767px) {
    .section_title p br {
        display: none;
    }
}

.section_title h4 {
    font-size: 22px;
    font-weight: 500;
    color: #001D38;
    padding-bottom: 21px;
}

.mb-50 {
    margin-bottom: 50px;
}

@media (max-width: 767px) {
    .mb-50 {
        margin-bottom: 40px;
    }
}

.mb-73 {
    margin-bottom: 73px;
}

@media (max-width: 767px) {
    .mb-73 {
        margin-bottom: 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .mb-73 {
        margin-bottom: 40px;
    }
}
.single-price {
    padding: 40px 0;
    border: 1px solid transparent;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 30px;
}
.single-price .price-header{
padding-bottom: 23px;
}
.single-price .price-header h3{
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
}
.single-price .price-header span{
    position: relative;
    font-family: "Teko", sans-serif;
    color: #FF1414;
    font-weight: 400;
    font-size: 30px;
}
.single-price .price-body ul li{
    font-family: "Teko", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: #7A838B;
}
.single-price:hover{
    border: 1px solid #FF1414;
}
.single-price.price-btn{

}
.boxed-btn{
    background: #fff;
    color: #FF1414;
    display: inline-block;
    padding: 12px 44px;
    font-family: "Teko", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
.boxed-btn:hover{
    background: #FF1414;
    color: #fff !important;
    border: 1px solid #FF1414;
}